<div id="hello" class="hello">
    <hr/>
    <div class="follow"><a href="https://twitter.com/bepsays" class="socialite twitter-follow" data-show-count="true">Dilt etter @bepsays</a></div>

    {{if .IsPage }}<p>Om du tykte om <em>{{ .Title }}</em>, då vil du også mest truleg setje pris på framtidig innhald.</p>{{ end }}

    <p>Gjer vel og dilt etter meg på <a href="https://twitter.com/intent/user?screen_name=bepsays" target="_blank">Twitter</a> eller putt <a
            href="http://feeds.feedburner.com/bepsays" target="_blank">straumen</a> inn i RSS-lesaren.</p>
</div>
