
/dev
/dist
/.idea
/node_modules
nohup.out
*.iml
/static/css/bs.*
/static/js/bs.*

layouts/partials/footer.html
layouts/partials/head.html
script/pickled_dict
/static/**/.thumbnails

.awspublish-bepsays.com
