
/dev
/public
/dist
/.idea
/node_modules
nohup.out
*.iml
/static/assets/css/bs.*
/static/assets/js/bs.*

layouts/partials/footer.html
layouts/partials/head.html
layouts/partials/gitinfo.html
script/pickled_dict
/static/**/.thumbnails
pickled_dict

.awspublish-bepsays.com
