
/dev
/public
/dist
/.idea
/node_modules
/bower_components
nohup.out
*.iml
/static/assets/css/main.*
/static/assets/js/main.*


layouts/partials/footer.html
layouts/partials/gitinfo.html
script/pickled_dict
/static/**/.thumbnails
pickled_dict

.awspublish-bepsays.com
*.prof
.DS_Store
