
{{define "titleHead"}}
{{ T (printf "sect_%s" (.Title|lower)) }}
{{end}}

{{define "main"}}
<div class="content main">
    <div class="main list">
        <h1 class="post-title">{{ T (printf "sect_%s" (.Title|lower)) }}</h1>
        {{ range .Paginator.Pages }}
        <p><a href="{{.Permalink}}">{{.LinkTitle}} <span class="bs-date">&nbsp;– {{.Date.Format "Jan 02, 2006"}}</span> </a></p>
        {{ end }}
  
        {{ partial "pagination.html" . }} 
        <div class="translations-bottom">
        {{ partial "translations.html" . }}
        </div>
    </div>
</div>
{{end}}


