{{define "main"}}
<div class="content main">
    <div class="main post">
        <h1 class="post-title">{{ with .Params.title_main}}{{ . | markdownify }}{{ else }}{{ .Title  }}{{end}}</h1>
        {{ partial "byline.html" . }}
        {{ partial "similar.html" . }}
    
        {{ .Content }}
        <div class="translations-bottom">
        {{ partial "translations.html" . }}
        </div>
        {{ partial "gallery.html" . }}
        {{ partial "share.html" . }}
        {{ partial "post-more.html" . }}
        {{ partial "disqus.html" . }}
    </div>
</div>
{{end}}
