<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}">
<meta name="keywords" content="{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title> {{ .Title }} </title>

<link rel="stylesheet" href="/assets/css/bs.css">
{{if isset .Params "gallery_id" }}
<link href="/assets/css/nano/nanogallery.min.css" rel="stylesheet" type="text/css">
{{ end }}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="/assets/js/bs.js"></script>

{{if isset .Params "gallery_id" }}
<link href="/assets/css/nano/nanogallery.min.css" rel="stylesheet" type="text/css">
<script src="/assets/js/vendor/jquery.nanogallery.min.js"></script>
{{ end }}

<link rel="shortcut icon" href="/favicon.ico">

<link href="http://feeds.feedburner.com/bepsays" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>

<meta property="fb:app_id" content="111055509053223" />
<meta property="fb:admins" content="615673291"/>
<meta property="og:site_name" content="bepsays.com" />
<meta property="og:locale" content="nn_NO" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}" />
{{ with .Params.images }}{{ range first 6 . }}
<meta property="og:image" content="http://bepsays.com{{ . }}" />
{{ end }}{{ end }}
<meta property="og:updated_time" content="{{ .Date }}"/>


{{ with .Params.images }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image:src" content="http://bepsays.com{{ index . 0 }}"/>
{{ else }}
<meta name="twitter:card" content="summary"/>
{{ end }}<meta name="twitter:site" content="@bepsays">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ .Title }}" />
<meta property="twitter:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}" />
{{ if not .Site.BuildDrafts }}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52478213-1', 'auto');
    ga('send', 'pageview');
</script>
{{ end }}
