<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>bepsays.com. Om dette og hint.</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="/">Home</a>

        {{ $currentNode := . }}
        {{ $currentUrl := .Url }}
        {{ range $name, $taxonomy := .Site.Indexes.categories }}
        {{ $currentCategoryUrl := $name | printf "%s%s" "/categories/" | printf "%s/" }}
        <a class="sidebar-nav-item{{if eq $currentUrl $currentCategoryUrl}} active{{end}}" href="/categories/{{ $name | lower | urlize }}">{{ $name | lower }}</a>
        {{ end }}
        {{ range .Site.Menus.main }}
        <a class="sidebar-nav-item{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}" href="{{.Url}}">{{ .Name }}</a>
        {{ end }}

    </nav>

    <div class="sidebar-item">
        <p>
            &copy;  All rights reserved.
        </p>
    </div>
</div>

<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="/" title="Home"><span class="first">bep</span><span class="second">says</span></a>
            </h3>
        </div>
    </div>
</div>
