<div class="bs-share" id="bs-share">
    <ul class="social-buttons cf">
        <li><a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{.LinkTitle}}" data-url="{{.Permalink}}" data-count="vertical"
               rel="nofollow"
               target="_blank"><span class="vhidden">Del på Twitter</span></a></li>
        <!--li><a href="http://www.facebook.com/sharer.php?u={{.Permalink}}&amp;t={{.LinkTitle}}" class="socialite facebook-like"
               data-href="{{.Permalink}}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span
                class="vhidden">Del på Facebook</span></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{.Permalink}}&amp;t={{.LinkTitle}}" class="socialite facebook-share"
               data-href="{{.Permalink}}" data-send="false" data-layout="box_count" data-type="button_count" data-width="60" data-show-faces="false" rel="nofollow"
               target="_blank"><span
                class="vhidden">Del på Facebook</span></a></li-->
        <li><a href="https://plus.google.com/share?url={{.Permalink}}" class="socialite googleplus-one" data-size="tall" data-href="{{.Permalink}}" rel="nofollow"
               target="_blank"><span class="vhidden">Del på Google+</span></a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{.Permalink}}&amp;title={{.LinkTitle}}" class="socialite linkedin-share"
               data-url="{{.Permalink}}" data-counter="top" rel="nofollow" target="_blank"><span class="vhidden">Del på LinkedIn</span></a></li>
    </ul>
</div>

{{ if not .Site.BuildDrafts }}
<script>
    $(function () {

        Socialite.setup({
            facebook: {
                lang: 'en_GB',
                appId: 111055509053223
            }
        });
        var el = $(".post p").slice(-1);
        if (!el.length) {
            el = $('#bs-share');
        }
//        el.addClass("test");
        $(el).appear(function () {
            Socialite.load($('#bs-share'));
        });
    });
</script>
{{ end }}

